includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method .* should return Hyperf\\Database\\Model\\Collection&iterable<App\\Model\\Entity\\.* but returns Hyperf\\Database\\Model\\Collection#'
        - '#Method .* should return App\\Model\\Entity\\.* but returns App\\Model\\Entity\\AbstractEntity#'
        - '#Method .* should return App\\Model\\Entity\\.* but returns Hyperf\\Database\\Model\\Model#'
        - '#Access to an undefined property#'
        -
            message: '#Unsafe usage of new static\(\)#'
            paths:
                - app/Model/Entity/AbstractEntity.php
                - app/Util/QueryBuilder/AbstractQueryBuilder.php
        -
            message: '#Call to an undefined method App\\Model\\Entity\\AbstractEntity::withTrashed\(\)#'
            path: app/Repository/AbstractRepository.php
